<div class="page-container">
  <div class="header">
    <%= link_to root_path, class: 'back-link' do %>
      <i class="fas fa-arrow-left"></i> Voltar ao Dashboard
    <% end %>
    <h1>Turmas</h1>
    <%= link_to new_turma_path, class: 'new-button' do %>
      <i class="fas fa-plus"></i> Nova Turma
    <% end %>
  </div>

  <div class="search-bar">
    <%= form_tag turmas_path, method: :get, class: "search-form" do %>
      <div class="search-input-container">
        <%= text_field_tag :search, params[:search], class: "search-input", placeholder: "Buscar por nome da turma ou professor..." %>
        <%= button_tag type: 'submit', class: "search-button" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="list-container">
    <% if @turmas.any? %>
      <% @turmas.each do |turma| %>
        <div class="list-item">
          <div class="item-info">
            <span class="item-name"><%= turma.nome %></span>
            <span class="item-details">
              <i class="fas fa-clock"></i> <%= turma.horario_formatado %>
              <% if turma.professor.present? %>
                • <i class="fas fa-chalkboard-teacher"></i> <%= turma.professor.nome %>
              <% end %>
              <% if turma.alunos.any? %>
                • <i class="fas fa-users"></i> <%= pluralize(turma.alunos.count, 'aluno', 'alunos') %>
              <% end %>
            </span>
          </div>
          <div class="item-actions">
            <%= link_to turma_path(turma), class: 'action-icon view-icon', title: 'Visualizar' do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= link_to edit_turma_path(turma), class: 'action-icon edit-icon', title: 'Editar' do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= button_to turma_path(turma), 
                method: :delete,
                form: { data: { turbo_confirm: 'Tem certeza que deseja excluir esta turma?' } },
                class: 'action-icon delete-icon',
                title: 'Excluir' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-results">Nenhuma turma cadastrada.</p>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag "index_views" %>
<%= stylesheet_link_tag "turmas" %>
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" %>
