<div class="header">
  <button class="btn-voltar">Voltar</button>
  <h2 class="titulo">Cadastro de Alunos</h2>
  <div class="logo">Guerreiros da Paz</div>
</div>

<div class="card-cadastro">
  <div class="cadastro-flex">
    <div class="cadastro-col">
      <h3>Aluno</h3>
      <%= form_with model: @aluno do |f| %>
        <%= f.label :nome, 'Nome do Aluno:' %>
        <%= f.text_field :nome %>

        <%= f.label :cpf, 'CPF:' %>
        <%= f.text_field :cpf %>

        <%= f.label :data_nascimento, 'Data de Nascimento:' %>
        <%= f.date_select :data_nascimento, {prompt: {day: 'Dia', month: 'Mês', year: 'Ano'}}, {class: 'date-select'} %>

        <%= f.label :tipo_sanguineo, 'Tipo Sanguíneo:' %>
        <%= f.select :tipo_sanguineo, [['A+', 'A+'], ['A-', 'A-'], ['B+', 'B+'], ['B-', 'B-'], ['AB+', 'AB+'], ['AB-', 'AB-'], ['O+', 'O+'], ['O-', 'O-']], prompt: 'Tipo' %>

        <%= f.label :modalidade, 'Modalidade da Luta:' %>
        <%= f.text_field :modalidade, value: 'Jiu-Jitsu' %>
    </div>
    <div class="cadastro-col">
      <h3>Responsável</h3>
      <%= f.label :responsavel_cpf, 'CPF do Responsável:' %>
      <%= f.text_field :responsavel_cpf %>

      <%= f.label :responsavel_nome, 'Nome do Responsável:' %>
      <%= f.text_field :responsavel_nome %>

      <%= f.label :responsavel_telefone, 'Telefone do Responsável:' %>
      <%= f.text_field :responsavel_telefone %>
    </div>
  </div>
  <div class="botoes-cadastro">
    <%= f.submit 'Cadastrar Aluno', class: 'btn-cadastrar' %>
    <button class="btn-voltar-tela">Voltar a tela inicial</button>
  </div>
  <% end %>
</div>
