<h1><%= @aluno.new_record? ? "Novo" : "Editar" %> Aluno</h1>

<%= form_with model: @aluno do |f| %>
  <%= f.label :nome %><br>
  <%= f.text_field :nome %><br>

  <%= f.label :data_nascimento %><br>
  <%= f.date_select :data_nascimento %><br>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br>

  <%= f.label :telefone %><br>
  <%= f.telephone_field :telefone %><br>

  <%= f.label :responsavel_id, "Responsável" %><br>
  <%= f.collection_select :responsavel_id, Responsavel.all, :id, :nome, prompt: "Selecione" %><br>

  <%= f.submit %>
<% end %>
