<div class="form-container">
  <h1 class="form-title">Novo Usuário</h1>
  <%= form_with model: @user, local: true do |f| %>
    <div class="form-section">
      <div class="form-field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="form-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="form-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Voltar', users_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
<%= stylesheet_link_tag 'shared_forms' %>
