<div class="login-page-container">
  <div class="login-header">
    <div class="login-title">Guerreiros da Paz</div>
  </div>
  <div class="login-card">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-field">
        <%= f.label :email, 'Usuario:' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-input" %>
      </div>
      <div class="login-field">
        <%= f.label :password, 'Senha:' %>
        <%= f.password_field :password, autocomplete: "current-password", class: "login-input" %>
      </div>
      <div class="login-actions">
        <%= f.submit "Login", class: "login-btn" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
